/release/
/client/release/
/client/test/
/client/__history/
/client/__recovery/
/client/projects/


/server/_render/
/server/_render/*
/server/ws_conf.json
/server/ws_conf.php
/server/node_modules/
/server/test/
.vscode/

*.exe
*.dcu
*.xml
*.xls
*.pdf
*.dsk
*.local
*.identcache
*.projdata
*.tvsconfig
*.~*
*.dll
*.bpl
*.bpi
*.so
*.apk
*.drc
*.map
*.dres
*.rsm
*.tds
*.dcu
*.lib
*.a
*.o
*.ocx
*.dsk
*.stat
*.log

workspace.code-workspace